<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>benCMS</title>
    <% preloadJs.forEach(function(item){%>
      <link href='<%=item %>' rel=preload as=script>
    <% }) %>
    <% preloadCss.forEach(function(item){%>
      <link href='<%=item %>' rel=preload as=style>
    <% }) %>
    <% preFetchCss.forEach(function(item){%>
      <link href='<%=item %>' rel=prefetch>
    <% }) %>
    <% preFetchJs.forEach(function(item){%>
      <link href='<%=item %>' rel=prefetch>
    <% }) %>
    <% preloadCss.forEach(function(item){%>
      <link href='<%=item %>' rel=stylesheet>
    <% }) %>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but dabencms doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id=app></div>
    <script>
      var globalData = {
        realname: '<%= realname %>',
        baseurl: '<%= baseurl %>',
        baseimgurl: '<%= baseimgurl %>'
      }
    </script>
    <% preloadJs.forEach(function(item){%>
      <script src='<%=item %>'></script>
    <% }) %>
  </body>
</html>
